[Unit]
Description=Hypercorn instance for Fast API experiment
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/modules/root_app
Environment="PATH=/var/www/modules/root_app"
ExecStart=/usr/local/bin/hypercorn root_app.py --reload --config root_app.toml

[Install]
WantedBy=multi-user.target