{% extends "base_template.html" %}
{% block title %}Fork My Repo{% endblock %}

{% block content%}
    <div class="container">
        <div class="row justify-content-sm-center mt-3">
            <div class="col-sm-6">
                <div class="repo-card" data-repo="vlastikczech/fork-my-repo"></div>
                <span id="githubfork"><a href="https://github.com/vlastikczech/fork-my-repo/fork?fragment=1" target="_blank">Fork me on GitHub</a></span>
            </div>
        </div>
    </div>
{% endblock %}