<html>
<head>
    <title>Hello World</title>
</head>
<body>
    <h1 style='color:red'>Hello World</h1>
    <p>This is a sample fastapi app (using jinja2 templating) served at /hello_world/.</p>
    <p>
        Create more like it...
        <ol>
            <li>Copy hello_world dir, change hello_world references.</li>
            <li>Edit /provision/modules.sh and add a few lines</li>
            <li>Run /provision/modules.sh (via ssh, use sudo)</li>
        </ol>
    </p>
    <h2>Another example module...</h2>
    <p><a href="/example_api/docs">Example API</a></p>

</body>
</html>
